<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Base{% endblock %}</title> 
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='CSS/style.css') }}"
  />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div class="header">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Information</button>
        <div class="dropdown-menu information-grid">
          <div>
            <div>
              <div class="dropdown-heading">Navigate</div>
              <div class="dropdown-links">
                <a href="{{url_for('home')}}" class="link">Home Page</a>
                <a href="{{url_for('contact')}}" class="link">Contact</a>
                <a href="{{url_for('about_us')}}" class="link">About Us</a>
                <a href="{{url_for('upload_file')}}" class="link">Add Your Product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Products</button>
        <div class="dropdown-menu information-grid">
          <div>
            <div class="dropdown-heading">Store</div>
            <div class="dropdown-links">
              <a href="/category/1" class="link">Drum Sets</a>
              <a href="/category/2" class="link">Drum Sticks</a>
              <a href="/category/3" class="link">Drum Pedals</a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Account</button>
        <div class="dropdown-menu information-grid">
          <div>
            <div class="dropdown-links">
              {% if current_user.is_authenticated %}
              <a href="{{url_for('logout')}}" class="link">Logout</a>
                {% else %}
              <a href="{{url_for('index')}}" class="link">Register</a>
              <a href="{{url_for('login')}}" class="link">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
   
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>