<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/signup.css') }}">
</head>
<body>
  
</body>
</html>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul>
    {% for category, message in messages %}
        <li class="flash-{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% block content %}
<div>
  <form method="POST" class="form-signup" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.username( placeholder="Username", required=True)}}

    {{form.password(placeholder="Password", required=True)}}
    
    {{form.repeat_password(placeholder="Repeat Password", required=True)}}
    
    {{form.mail(placeholder="Mail", required=True)}}
    
    {{ form.register(class_="form-signup-button", placeholder="Register") }}
  </form>
  <div class="register-link">
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
  </div>
</div>
{% endblock %}